<div class="container">
  <div class="header">
    <h1><%= @flatmate.first_name %> <%= @flatmate.last_name %></h1>
  </div>
  <p>Description : <%= @flatmate.description %></p>
  <p>Date de naissance : <%= @flatmate.birthday %></p>
</div>
