<div class="container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.freepik.com/vecteurs-libre/heureux-parents-fils-faisant-exercices-maison-illustration-plat_74855-16158.jpg?t=st=1727808206~exp=1727811806~hmac=9485415df6e3b67e479da4790d68be4b8f658609d641e70ff191a55755b59104&w=1800);">
    <div class="container">
      <h1>Bienvenue dans la Cooloc</h1>
      <p>Ici, tu retrouveras toutes les infos dont t'as besoin pour être au top</p>
    </div>
  </div>
</div>
