.btn-flat {
  color: white;
  background: darkslategray;
  padding: 8px 24px;
  border-radius: 50px;
  transition: background 0.3s ease;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  &:hover {
    background: rgb(31, 53, 53);
    color: white;
  }
}

.btn-delete {
  color: white;
  background: rgb(177, 0, 0);
  padding: 8px 24px;
  border-radius: 50px;
  transition: background 0.3s ease;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  &:hover {
    background: rgb(106, 0, 0);
    color: white;
  }
}
