.navbar-cooloc {
  background: darkslategray;
  height: 100vh;
  width: 290px;
  color: white;

  .container-fluid {
    align-items: center;
    justify-content: start;
    margin-top: 8px;
    margin-bottom: 12px;
    display: flex;

    h1 {
      margin: 0;
      font-size: 2rem;
    }
  }
}

.nav-items ul {
  padding-left: 1rem;
}

.nav-item{
  list-style-type: none;
  margin-bottom: 6px;
}

.navbar-cooloc .navbar-brand{
  padding-right: 12px;

  img {
    width: 70px;
    height: 50px;
    border-radius: 50px;
    background-size: contain;
  }
}
