<div class="container">
  <div class="header">
    <h1><%= @chore.title %></h1>
  </div>
    <p>Détail de la tâches : <%= @chore.content %></p>
    <p>Attribué à : <%= @chore.flatmate_id %></p>
</div>
